<%# <div class="note"> %>
<%#   <p>Note: Project page is still under development. Projects will soon have dedicated pages!</p> %>
<%# </div> %>
<div class="project">
  <h2>Data For Me</h2>
  <a href="https://dataforme.xyz">
    <%= image_tag '/images/projects/dataforme.jpg' %> 
  </a>
  <div class="description">
    <p>A tool that analyzes personal data offline. Dataforme is my senior project, and still a work in progress. The idea behind it is that everyone should be able to analyze, and gain insights from their personal data, without giving it away to anyone. The <code><a href='https://github.com/shukerov/dataforme/'>code</a></code> is Open Source.
    </p>
  </div>
</div>
<div class="project">
  <h2>Carter Brown Law</h2>
  <a href='https://carterbrownlaw.com'>
    <%= image_tag '/images/projects/carterbrownlaw.jpg' %> 
  </a>
  <div class="description">
    <p>A website for the lovely Angela Carter and Steven Brown. The website is in its final stages of development, so keep an eye out <code>👀</code>.</p>
  </div>
</div>
<div class="project">
  <h2>Maze Shelf</h2>
    <%= image_tag '/images/projects/Mazeshelf1.png' %>
  <div class="project-description">
    <p>A shelf with some controllable RGB LEDs. I used a Raspberry Pi running a small Flask application to pull this off.</p>
  </div>
</div>
<div class="project">
  <h2>Dxf To KiCad Converter</h2>
  <%= image_tag '/images/projects/DXF_to_Kicad.png' %>
  <div class="project-description">
    <p>A python program that takes a PCB exported from Microwave Office and converts it to a KiCad Board file. The program associates net lists, places footprints in desired locations, and has the option to map Microwave Office dxf export layers to user-selected KiCad layers.</p>
  </div>
</div>
<div class="project">
  <h2>Beesbot Timetracker</h2>
  <%= image_tag '/images/projects/Beetime.png' %>
  <div class="project-description">
    <p>A Ruby on Rails app built for our team Beesbot. It lets users clock in/out, add time logs, and tasks. It also provides analytics in admin view.</p>
  </div>
</div>
<div id="bottom-menu">
  <a href="#top">To the top!</a>
</div>
